<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#search">Поиск</a></li>
                <li role="presentation"><a href="#queries">Запросы</a></li>
                <li role="presentation"><a href="#exit">Exit</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">AutoParser</h3>
    </div>

    <div class="content">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
</div>